@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

html,
body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  overflow-x: hidden;
}

.dzu-dropzone {
  overflow: hidden !important;
  border: 1px solid #e2e8f0 !important;
  justify-content: center !important;
  font-weight: normal !important;
}

.dzu-inputLabel {
  font-weight: normal !important;
}

/*.ql-container.ql-snow,*/
/*.ql-toolbar.ql-snow {*/
/*  border: none;*/
/*}*/

.ql-editor {
  padding: 0;
}

.ql-bubble > .ql-editor > h1 {
  font-size: 2rem;
  font-weight: 700;
}

.ql-bubble > .ql-editor > h2 {
  font-size: 1.625rem;
  font-weight: 500;
}

.ql-editor > p,
.ql-editor > ul,
.ql-editor > ol {
  font-size: 1.125rem;
}
