html,
body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.dzu-dropzone {
  overflow: hidden !important;
  border: 1px solid #e2e8f0 !important;
  justify-content: center !important;
  font-weight: normal !important;
}

.dzu-inputLabel {
  font-weight: normal !important;
  color: black !important;
}
